* {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
	background-image: url('https://images.pexels.com/photos/2030190/pexels-photo-2030190.jpeg');
	background-position: center; 
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: 97%;
	position: static;
	z-index:1;
	opacity: 0.9;
}
.glavni{
	width: 900px;
	height: 1100px;
	box-shadow: 0px 4px 12px #ec7063;
	background-color: white;
	position: relative;
	z-index: 10;
	border-radius: 20px;
}
.container{
	width: 900px;
	height: auto;
	justify-content: center;
	position: relative;
	background-color:white;
}
.container form{
	width: 800px;
	position: absolute;
	top: 10px;
	left: 30px;
}
form input{
	border: 1px solid grey;
	border-radius: 5px;
}
form input:focus{
	outline: none;
	border: 1px solid black;
}
.gumbi {
	width: 100%;
	margin: 30px auto;
}
form button{
	width: 110px;
	height: 35px;
	margin: 0 10px;
	background-color: blue;
	border: none;
	outline:none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	background-color: #F75D59;
}
button{
	text-align: center;
	background-color: #F75D59;
	color: white;
	font-size: 17px;
}
button:hover{
	background-color: #DE5350;
}
form button:active{
	transform: scale(0.98);
}
#form2{
	left: 450px;
}
#form3{
	left: 450px;
}
h2{
	padding-bottom: 10px;
}
.head {
	margin: auto;
	text-align: center;
	padding: 10px;
}
img {
	max-height: 120px;
	padding: 10px;
}
.tab{
	margin: auto;
	padding: 20px;
	text-align: center;
}
.prijavnica{
	margin: auto;
	padding: 20px;
	text-align: center;
}
.podatki{
	margin: auto;
	padding: 20px;
}
.izjava{
	margin: auto;
	padding: 10px;
	text-align: left;
}
.ime_priimek {
	display: flex; 
	justify-content: space-between; 
	gap: 20px; 
}
.ime, .priimek {
	flex-grow: 1; 
	display: flex;
	flex-direction: column;
}
label {
	display: block;
    font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
	color: #444;
	padding-bottom: 5px;
	padding-top: 5px;
}
input[type="text"], input[type="date"], input[type="number"], input[type="tel"] {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ddd;
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	background-color: white;
}
input[type="textarea"]{
	font-size: 14px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: white;
	height: 60px;
	width: 100%;
}
input[type="text"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="textarea"]:focus {
	border-color: #F62817;
	outline: none;
}
.container .tab {
	display: none;
	position: absolute;
	width: 100%;
}
.container .tab.active {
	display: block;
}
.progress_container {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 32px auto;
    position: relative;
}
.progress_container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #ddd;
    z-index: 1;
}
.progress {
    background-color: #E55451;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%; 
    z-index: 2;
    transition: width 0.4s ease-in-out;
}
.circle {
    background-color: #bdbdbd ;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
	position: relative;
    z-index: 3;
}
.circle.active {
    background-color: #f44336 ;
}
.podpis{
	justify-content: center;
	text-align: center;
	margin-top: 10px;
	padding-left: 40%;
}
.izjava-pod{
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	line-height: 1.6;
}
h1{
	color: #444;
	font-size: 35px;
}