*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
table{
	border: 1px solid black;
	border-collapse: collapse;
	width:50%;
	margin: 5px;
}
tr,td{
	border: 1px solid black;
}
.tstoritve{
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
.tab2{
	margin: 0;
	padding: 0;
	width: 100%;
}
.naslov{
	padding: 25px;
	text-align:center;
	width:80%;
}
.naslovnik{
	width:30%;
}
.tnaslovnik{
	width:99%;
	height:100%
}
.logo-field{
	width:50%;
}
